/* AddDevice.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.page {
  min-height: 100vh;
  background: #f5f1ea;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #fff;
  max-width: 600px;
  width: 100%;
  border-radius: 16px;
  padding: 40px 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 26px;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 10px;
}

.subtitle {
  color: #6b6375;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.inner-card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}

.step {
  font-size: 12px;
  color: #c89b00;
  font-weight: 600;
  margin-bottom: 8px;
}

.inner-title {
  font-size: 18px;
  margin-bottom: 8px;
  color: #000;
}

.inner-text {
  font-size: 13px;
  color: #6b6375;
  margin-bottom: 20px;
}

.address{
    font-size: 14px;
    color: #000000d8;
}

.address-field {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: transparent;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.add-btn:hover {
  border-color: #999;
}

.plus {
  font-size: 18px;
  font-weight: 200;
}

.finish-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #ffc107;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}

.finish-btn:hover {
  background: #e6ad06;
}
